:root {
  --main-color: rgb(111, 155, 111);
  --black: #222;
  --white: #fff;
  --grey: #ddd;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: 0;
  border: 0;
  transition: all 0.3s linear;
}

*::selection {
  color: var(--white);
  background-color: var(--main-color);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  background-color: var(--black);
  min-height: 500vh;
}

section {
  padding: 2rem 5%;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--main-color);
}

::-webkit-scrollbar-track {
  background-color: var(--black);
}

.heading {
  margin-bottom: 2rem;
}

.heading h3 {
  text-align: center;
  padding-bottom: 2rem;
  color: var(--main-color);
  font-size: 4rem;
}

.heading h3 span {
  position: relative;
  z-index: 0;
  color: var(--white);
}

.heading h3 span::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  z-index: -1;
  background: var(--main-color);
  height: 0.2rem;
  width: 80%;
  margin-left: 10%;
}

/* button CSS style start */

.btn {
  display: inline-block;
  padding: 1.2rem 2.5rem;
  border-radius: 0.5rem;
  width: fit-content;
  color: var(--white);
  background-color: transparent;
  border: 0.1rem solid var(--main-color);
  font-size: 1.6rem;
  font-weight: 800;
  overflow: hidden;
  position: relative;
  z-index: 0;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.btn::before,
.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: var(--main-color);
  transition: width 0.3s ease-in-out;
  z-index: -1;
}

.btn::before {
  top: 0;
  left: 0;
}

.btn::after {
  bottom: 0;
  right: 0;
}

.btn:hover {
  color: var(--main-color);
}

.btn:hover::before,
.btn:hover::after {
  width: 0;
}
/* button CSS style end */

/* header section start */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  transition: all 0.5s linear;
  z-index: 999;
}

header.active {
  border-bottom: 0.1rem solid var(--grey);
  background: rgba(0, 0, 0, 0.8);
}

header .logo h2 {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--main-color);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

header .navbar a {
  color: var(--white);
  font-size: 1.8rem;
  margin-left: 1rem;
}

header .navbar a:hover,
header .navbar a.active {
  color: var(--main-color);
}

header #menu-btn {
  font-size: 3rem;
  color: var(--white);
  cursor: pointer;
  display: none;
}

header .fa-times {
  transform: rotate(180deg);
}

header #menu-btn:hover {
  color: var(--main-color);
}
/* header section end */

.home {
  padding: 0rem 5%;
  background-color: var(--black);
  min-height: 100vh;
}

.home .box-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.home .home-content {
  flex: 1 1 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.home .home-img {
  flex: 1 1 40rem;
  text-align: center;
}

.home .home-img img {
  width: 40rem;
  height: 40rem;
  object-fit: cover;
  border-radius: 20% 50% 30% 80% / 10% 50% 90% 70%;
}

.home .home-content h1 {
  font-size: 4rem;
  color: var(--white);
  padding: 1rem 0rem;
}

.home .home-content h2 {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--main-color);
}

.home .home-content h1 span {
  color: var(--main-color);
}

.home .home-content p {
  font-size: 1.7rem;
  font-weight: 300;
  color: var(--white);
  padding-bottom: 2rem;
  line-height: 1.5;
}

.about .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .img {
  width: 32rem;
  text-align: center;
}

.about .img img {
  width: 100%;
  border: 1rem solid var(--main-color);
}

.about .content {
  flex: 1 1 55rem;
}

.about .content h2 {
  font-size: 3rem;
  color: var(--white);
  padding-bottom: 1rem;
}

.about .content h2 span {
  color: var(--main-color);
}

.about .content p {
  font-size: 1.6rem;
  color: var(--grey);
  padding-bottom: 1rem;
}

.about .content .about-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.about .content .about-info .info {
  flex: 1 1 15rem;
}

.about .content .about-info .info h4 {
  font-size: 1.6rem;
  color: var(--white);
  padding-bottom: 1rem;
}

.about .content .about-info .info h4 span {
  font-size: 1.6rem;
  font-weight: 800;
  color: var(--grey);
}

.about .content .about-info .info .btn {
  margin-top: 1rem;
}

.numbers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1 1 35rem;
  gap: 1rem;
  margin-top: 5rem;
}

.numbers .box {
  background-color: var(--white);
  padding: 2rem;
  text-align: center;
  flex: 0 1 18rem;
}

.numbers .box h4 {
  font-size: 3.5rem;
  color: var(--main-color);
  padding-bottom: 0.5rem;
}

.numbers .box h3 {
  font-size: 1.4rem;
}

.skill-container {
  padding: 2rem 0rem;
}

.skill-container .heading {
  margin-bottom: 2rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills .skill-item {
  flex: 1 1 30rem;
  margin-right: 1.5rem;
}

.skills .skill-item .item {
  padding: 1rem 0rem;
}

.skills .skill-item .item h3 {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 0rem;
  color: var(--white);
  font-size: 1.6rem;
}

.skills .skill-item .item .progress-bar {
  width: 100%;
  height: 1rem;
  background-color: var(--white);
  overflow: hidden;
  border-radius: 5rem;
}

.skills .skill-item .item .progress-bar span {
  display: block;
  height: 100%;
  background-color: var(--main-color);
}

.skills .skill-item.item-1 .item:nth-child(1) .progress-bar span {
  width: 98%;
}

.skills .skill-item.item-1 .item:nth-child(2) .progress-bar span {
  width: 93%;
}

.skills .skill-item.item-1 .item:nth-child(3) .progress-bar span {
  width: 85%;
}

.skills .skill-item.item-2 .item:nth-child(1) .progress-bar span {
  width: 90%;
}

.skills .skill-item.item-2 .item:nth-child(2) .progress-bar span {
  width: 80%;
}

.skills .skill-item.item-2 .item:nth-child(3) .progress-bar span {
  width: 75%;
}

.qualification-container {
  padding: 2rem 0rem;
}

.qualification-container .heading {
  margin-bottom: 2rem;
}

.qualification-container .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.qualification-container .box-container .education {
  flex: 1 1 40rem;
}

.qualification-container .box-container .experience {
  flex: 1 1 40rem;
}

.experience-item {
  position: relative;
  padding: 0rem 3rem 2rem;
  border-left: 0.2rem solid var(--main-color);
  margin-left: 2rem;
}

.experience-item i {
  position: absolute;
  top: 0;
  left: -2.5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--main-color);
  font-size: 2rem;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience-item .content {
  padding: 1rem 2rem;
}

.experience-item .content span {
  background-color: var(--white);
  border-radius: 5rem;
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

.experience-item .content h3 {
  font-size: 2rem;
  color: var(--white);
  padding: 2rem 0rem;
}

.experience-item .content p {
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: var(--grey);
}

.services .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.services .box-container .service-item {
  flex: 1 1 35rem;
  background-color: transparent;
  padding: 4rem 3rem;
  text-align: center;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition: all 0.3s ease-in-out;
}

.services .box-container .service-item::before {
  content: "";
  position: absolute;
  bottom: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--main-color);
  transform: scale(0);
  z-index: -1;
  transition: transform 0.3s ease-in-out;
}

.services .box-container .service-item:hover::before {
  transform: scale(3);
}

.services .box-container .service-item i {
  color: var(--white);
  font-size: 4rem;
}

.services .box-container .service-item h3 {
  padding: 1.5rem 0rem;
  color: var(--white);
  font-size: 2rem;
}

.services .box-container .service-item p {
  color: var(--grey);
  font-size: 2rem;
}

.portfolio-container .controls {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

.portfolio-container .gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  gap: 0.5rem;
  padding: 2rem 0rem;
}

.portfolio-container .gallery-container .gallery-item {
  height: 25rem;
  overflow: hidden;
  position: relative;
  border-radius: 0.5rem;
}

.portfolio-container .gallery-container .gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-container .gallery-container .gallery-item .content {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  flex-direction: column;
  transform: scale(0);
}

.portfolio-container .gallery-container .gallery-item .content h4 {
  font-size: 2rem;
  color: var(--main-color);
  padding-bottom: 1rem;
}

.portfolio-container .gallery-container .gallery-item .content p {
  font-size: 1.6rem;
  color: var(--white);
}

.portfolio-container .gallery-container .gallery-item .content .open-btn {
  font-size: 2rem;
  color: var(--main-color);
  margin-top: 1.5rem;
}

.portfolio-container .gallery-container .gallery-item:hover .content {
  transform: scale(1);
}

.tab-btn {
  display: inline-block;
  padding: 1.2rem 2.5rem;
  border-radius: 0.5rem;
  width: fit-content;
  color: var(--white);
  background-color: transparent;
  border: 0.1rem solid var(--grey);
  font-size: 1.6rem;
  font-weight: 800;
  overflow: hidden;
  position: relative;
  z-index: 0;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.controls .tab-btn {
  background-color: transparent; 
  color: var(--white);  
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.controls .tab-btn.active {
  background-color: var(--main-color); 
  color: var(--white); 
}

.review .review-slider {
  position: relative;
  padding-bottom: 4rem;
  overflow: hidden;
}

.review-item {
  padding: 4rem 2rem;
  text-align: center;
  border: 0.1rem solid rgba(255, 255, 255, 0.1);
  width: 43rem;
  margin-right: 2rem;
}

.review-item img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.5rem solid var(--main-color);
  object-fit: cover;
}

.review-item i {
  display: block;
  font-size: 3rem;
  color: var(--white);
  margin: 1rem 0rem;
}

.review-item p {
  font-size: 1.6rem;
  color: var(--grey);
}

.review-item .person-info {
  margin: 1rem 0rem;
}

.review-item .person-info h3 {
  font-size: 2rem;
  color: var(--white);
  padding-bottom: 0.5rem;
}

.review-item .person-info h5 {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--main-color);
}

.blog .blog-slider {
  position: relative;
  overflow: hidden;
  padding-bottom: 4rem;
}

.blog .blog-slider .blog-item {
  background-color: var(--white);
  border-radius: 0.5rem;
  overflow: hidden;
  width: 43rem;
  margin-right: 2rem;
}

@media (min-width: 1024px) {
  .blog .blog-slider {
    display: flex;
  }
  .blog .blog-slider .blog-item {
    flex: 1 0 40rem;
  }
}

.blog .blog-slider .blog-item .img {
  height: 45rem;
  overflow: hidden;
}

.blog .blog-slider .blog-item .img video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog .blog-slider .blog-item .content {
  padding: 2rem 1rem;
}

.blog .blog-slider .blog-item .content .content-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.2rem solid var(--grey);
  padding: 1rem 0rem;
  margin-bottom: 1.5rem;
}

.blog .blog-slider .blog-item .content .content-info h5 {
  font-size: 1.5rem;
}

.blog .blog-slider .blog-item .content .content-info h5 i {
  padding-right: 0.5rem;
  color: var(--main-color);
}

.blog .blog-slider .blog-item .content .title {
  font-size: 2rem;
  font-weight: 800;
}

.blog .blog-slider .blog-item .content p {
  font-size: 1.6rem;
  padding: 1rem 0rem;
}

.contact .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.contact .contact-info {
  flex: 1 1 42rem;
}

.contact .contact-info h3 {
  font-size: 2rem;
  color: var(--white);
}

.contact .contact-info p {
  font-size: 1.6rem;
  color: var(--grey);
  padding: 0.5rem 0rem;
}

.contact .contact-info .info-item {
  padding: 1rem 0rem;
}

.contact .contact-info .info-item h4 {
  font-size: 1.8rem;
  color: var(--white);
}

.contact .contact-info .info-item .detail {
  display: flex;
  align-items: center;
}

.contact .contact-info .info-item .detail i {
  font-size: 1.5rem;
  color: var(--main-color);
  padding-right: 0.5rem;
}

.contact .contact-info .info-item .detail a {
  font-size: 1.5rem;
  color: var(--white);
}

.contact .contact-form {
  flex: 1 1 42rem;
}

.contact .contact-form .box {
  width: 100%;
  padding: 1.5rem;
  margin: 0.5rem 0rem;
}

.contact .contact-form textarea {
  height: 15rem;
  resize: none;
}

footer {
  background-color: #fff;
  padding: 2rem 0rem;
  text-align: center;
}

footer .social {
  display: flex;
  justify-content: center;
  padding: 2rem 0rem;
}

footer .social a {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--black);
  color: var(--white);
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 0.5rem;
}

footer .copyright {
  font-size: 2rem;
  color: var(--black);
}

footer .copyright p span {
  font-weight: 800;
  color: var(--main-color);
}

.scroll-top {
  position: fixed;
  right: 2rem;
  bottom: 3rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: inset 0 0 0 0.2rem rgba(59, 56, 235, 0.2);
  z-index: 100;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  opacity: 0;
  visibility: hidden;
  transform: translateY(3rem);
}

.scroll-top i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  color: var(--main-color);
  transition: color 0.3s ease-in-out;
}

.scroll-top svg path {
  fill: none;
  stroke: var(--main-color);
  stroke-width: 4;
  transition: stroke 0.3s ease-in-out;
}

.scroll-top.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* responsive CSS style start */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  header #menu-btn {
    display: block;
  }
  .header .navbar {
    width: 30rem;
    position: absolute;
    right: 0;
    top: 100%;
    padding: 0rem 2rem;
    background: var(--white);
    border: 0.1rem solid var(--grey);
    transition: 0.3s linear;
    height: 50rem;
    overflow-y: auto;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
  }

  .header .navbar.active {
    transform: translateX(0);
  }

  .header .navbar a {
    display: block;
    color: var(--black);
    padding: 1.5rem 0rem;
    margin: 1rem 0rem;
  }

  section,
  header {
    padding: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  section,
  header {
    padding: 1rem;
  }
}

@media (max-width: 320px) {
  header #menu-btn {
    display: block;
  }
}
/* responsive CSS style end */

.gallery-container {
  flex: 1 0 100%;
  position: relative;
}

.gallery-item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.ibg {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain; 
  background-position: center;
  width: 100%; 
  height: 100%; 
}
